RewriteEngine on
RewriteRule ^(.*)$ http://www.mayerhealth.ca [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteCond %{HTTP_HOST} ^mayerhealth.ca/$1 [L,R=301]


RewriteRule ^(.*)$ $1.html

# 1 Week for most static assets
<filesMatch ".(jpg|jpeg|png|gif|ico|svg)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>

# One month for css and js assets
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>
